# Gradle files
.gradle/
build/

# Local configuration file (SDK path, etc.)
local.properties

# IntelliJ/Android Studio files
.idea/
*.iml

# Log files
*.log

# Captures folder
captures/

# NDK / CMake folders
.externalNativeBuild/
.cxx/

# OS-specific files
.DS_Store
Thumbs.db
